@import "tailwindcss";

@font-face {
    font-family: jost-regular;
    src: url(../public/fonts/Jost/Jost-Regular.ttf);
}
@font-face {
    font-family: jost-medium;
    src: url(../public/fonts/Jost/Jost-Medium.ttf);
}
@font-face {
    font-family: jost-semibold;
    src: url(../public/fonts/Jost/Jost-SemiBold.ttf);
}
@font-face {
    font-family: jost-bold;
    src: url(../public/fonts/Jost/Jost-Bold.ttf);
}
body {
    font-family: jost-regular, sans-serif;
    background: #fff9e3c6;
}
*{
    user-select: none;
}
@font-face {
    font-family: inter-bold;
    src: url(../public/fonts/Inter/Inter_24pt-Bold.ttf);
}
@font-face {
    font-family: inter-regular;
    src: url(../public/fonts/Inter/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: inter-extra;
    src: url(../public/fonts/Inter/Inter_24pt-ExtraBold.ttf);
}


.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #94a3b8 transparent;
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
    border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}

/* Custom Scrollbar */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}